.my-container
{
    /* background-color: aqua; */
    height: 100vh;
    }

    .column
    {
        height:150px;
        /* background-color: coral; */
    }
    /* .my-row
    {
        background-color: blueviolet;
        height: 200px;
    } */